.wp-block-buba-blocks-container {
  z-index: 3;
}

.wp-block-buba-blocks-container .block-editor-inner-blocks {
  position: relative;
  z-index: 3;
}

.wp-block-buba-blocks-container .block-editor-inner-blocks .wp-block {
  max-width: 100% !important;
}

.wp-block.wp-block-buba-blocks-container.width-full {
  max-width: 1200px;
}

.components-tab-panel__tab-content {
  padding: 16px;
  border: 1px solid #ddd;
}

.components-tab-panel__tabs-item.active-tab {
  -webkit-box-shadow: inset 0 1.5px #007cba;
          box-shadow: inset 0 1.5px #007cba;
}

.components-unit-control__select {
  font-size: 12px;
  font-weight: 700;
  width: 35px;
  top: 0;
}

.modal-open .image-popover {
  display: none;
}

.image-popover .components-popover__content {
  padding: 16px;
  width: 300px;
}
