.wp-block-buba-blocks-container{
  margin-left: auto;
  margin-right: auto;
  z-index: 3;
}
.width {
  &-default {
    max-width: 120rem;
    position: relative;
    width: calc(100% - 4rem);
    margin-right: auto;
    margin-left: auto;
  }
}
.buba {
  &-container{
    margin-left: auto;
    margin-right: auto;
  }
  &-container-inside{
    z-index: 2;
    position: relative;
  }
  &-container__gradient-background{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
  &-has-background-dim {
    position: relative;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      content: '';
      opacity: 0.5;
      background-color: inherit;
    }

    &-0 {
      &:before,.buba-container__gradient-background {
        opacity: 0;
      }
    }

    &-10 {
      &:before,.buba-container__gradient-background {
        opacity: 0.1;
      }
    }

    &-20 {
      &:before,.buba-container__gradient-background {
        opacity: 0.2;
      }
    }

    &-30 {
      &:before,.buba-section__gradient-background {
        opacity: 0.3;
      }
    }

    &-40 {
      &:before,.buba-container__gradient-background {
        opacity: 0.4;
      }
    }

    &-50 {
      &:before,.buba-container__gradient-background {
        opacity: 0.5;
      }
    }

    &-60 {
      &:before,.buba-container__gradient-background {
        opacity: 0.6;
      }
    }

    &-70 {
      &:before,.buba-container__gradient-background {
        opacity: 0.7;
      }
    }

    &-80 {
      &:before,.buba-container__gradient-background {
        opacity: 0.8;
      }
    }

    &-90 {
      &:before,.buba-container__gradient-background {
        opacity: 0.9;
      }
    }

    &-100 {
      &:before,.buba-container__gradient-background {
        opacity: 1;
      }
    }

  }
}