.buba-accordion__text {
  display: none;
}

div[data-type="buba-blocks/accordion"].is-selected .buba-accordion__text, div[data-type="buba-blocks/accordion"].has-child-selected .buba-accordion__text {
  display: block;
}

.is-selected .buba-accordion__title {
  color: var(--open-color) !important;
}

.is-selected .buba-accordion__title-wrap {
  border-color: var(--border-color) !important;
  background: var(--bg-color) !important;
}

.is-selected .buba-arrow-down:after {
  border-bottom: 2px solid var(--open-color) !important;
  border-right: 2px solid var(--open-color) !important;
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
