.buba {
  &-accordion {
    --open-color: #E95D4E;
    --bg-open-color: #000;
    --border-open-color: #000;
    --border-width: 1px 0px 1px 0px;
    --border-style: solid;
    --border-color: #000;

    margin-bottom: 32px;
    
    p{
      margin-bottom: 0;
    }

    &__title {
      margin-top: 0!important;
      margin-bottom: 0!important;
      &-wrap{
        border-radius: 16px;
        border-width: var(--border-width);
        border-style: var(--border-style);
        border-color: var(--border-color);
        padding: 24px 40px 24px 20px;
        position: relative;
        cursor: pointer;
        background-color: #fff;
      }
    }
    &__text{
      display: none;
    }
  }
  &-arrow-down{
    position: absolute;
    width: 35px;
    right: 0;
    display: flex;
    align-items: center;
    top: 0;
    height: 100%;
    &:after{
      content: "";
      display: block;
      width: 12px;
      height: 12px;
      border-bottom: 2px solid #000;
      border-right: 2px solid #000;
      transform: rotate(45deg);
      transition: all .2s ease-out;
    }
    .arrow-dw, .arrow-dw:after {
      position: absolute;
      cursor: pointer;
    }
  } 

  &-open{
    border-color: var(--border-open-color) !important;
    background: var(--bg-open-color) !important;
    .buba-accordion__title {
      color: var(--open-color) !important;
    }
    .buba-arrow-down{
      &:after{
        border-bottom: 2px solid var(--open-color) !important;
        border-right: 2px solid var(--open-color) !important; 
        transform: rotate(-135deg);
      }
    }
  } 
}