.is-selected{
  .buba-social-share__placeholder{
    opacity: .1;
  }
}
.components-button.is-link.buba-delete-image{
  padding: 5px 16px;
}
.block-editor-block-list__layout .wp-block.buba-social-share__item{
  margin: 4px 0;
}
.buba-social-share{
  list-style-type: none!important;
  &__placeholder{
    &-icons{
      display: flex;
      position: absolute;
      top: 0;
    }
    >.buba-social-share-link{
      padding-left: 0!important;
      margin-left: 0!important;
      padding-right: 0!important;
      margin-right: 0!important;
      width: 0!important;
      visibility: hidden;
    }
    .buba-social-share-link{
      padding: 6px 16px;
      margin: 4px 8px 4px 0;
      width: auto;
      line-height: 0;
      display: block;
      border-radius: 9999px;
      transition: transform .1s ease;
      height: auto;
      &:before{
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
      }
      &--twitter{
        background-color: #1da1f2;
        color: #fff;
      }
      &--facebook{
        background-color: #1778f2;
        color: #fff;
      }
      &--instagram{
        background-color: #f00075;
        color: #fff;
      }
    }
  }
  &__item{
    min-width: 56px;
    min-height: 36px;
    &-link{

    }
  }
  &.is-horizontal{
    .block-list-appender {
      margin: 8px 4px!important;
    }
  }
  &.is-vertical{
    .block-list-appender {
      margin: 8px auto!important;
      .block-editor-button-block-appender.block-list-appender__toggle{
        margin: 0 auto;
      }
    }
  }

  &__settings{
    .components-notice{
      padding: 0 0 0 20px;
      margin: 0 0 20px 0;
      &__content{
        margin-right: 0;
      }
    }
  }
}

div[data-type="buba-blocks/social-share"]{

}


