.buba-blocks-form{--buba-blocks-form-background: #2e2e2e;--buba-blocks-form-color: #fff;--buba-blocks-form-padding: 20px;--buba-blocks-form-borderRadius: 0px}.buba-blocks-form{background:var(--buba-blocks-form-background);padding:var(--buba-blocks-form-padding);color:var(--buba-blocks-form-color);border-radius:var(--buba-blocks-form-borderRadius)}/*# sourceMappingURL=style.css.map */
