.buba-blocks-slider-images{
  .slick-slide{
    img{
      margin: 0 auto;
      width: 100%;
    }
  }
  &-item{
    padding: 0 var(--gap);

    &__caption{
      text-align: center;
    }
  }
  .slick-list {
    margin: 0 calc(var(--gap) * (-1));
  }
}

.wp-block-buba-blocks-slider-images .slick-arrow, .slick-dots button {
  background-color: transparent !important;
}