[class*=__inner-container] .slick-slider-wrap .wp-block-cover:not(.alignfull):not(.alignwide):not(.alignleft):not(.alignright) {
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.slick-slider-wrap .slick-arrow {
  z-index: 10;
}
.slick-slider-wrap .slick-arrow:before {
  color: #fff;
}
.slick-slider-wrap .slick-next {
  right: 15px;
}
.slick-slider-wrap .slick-prev {
  left: 15px;
}
.slick-slider-wrap .slick-dots {
  position: absolute;
  bottom: 10px;
}
.slick-slider-wrap .slick-dots li.slick-active button:before {
  color: white;
}
.slick-slider-wrap .slick-dots li button:before {
  color: white;
}
.slick-slider-wrap .slick-slide.wp-block-cover {
  min-height: 575px;
  display: flex;
}
.slick-slider-wrap .wp-block-cover .wp-block-cover__inner-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 430px;
}
.slick-slider-wrap .wp-block-cover .wp-block-cover__inner-container > * {
  width: inherit;
}

.wp-block-group {
  margin-top: 0;
  margin-bottom: 0;
}

.wp-block-buba-blocks-slider .slick-list {
  margin: 0 calc(var(--gap) * -1);
}
.wp-block-buba-blocks-slider .slick-slide {
  padding: 0 var(--gap);
}
