.editor-styles-wrapper .wp-block[data-type="core/column"] .wp-block-card__content{
  h1,h2,h3,h4,h5,h6{
    margin-top: 0;
  }
}
.width-full .wp-block{
  max-width: 1200px;
}

.editor-styles-wrapper .wp-block-card__media {
  margin: 0;

  img {
    height: 100%;
    max-height: 100%;
  }
}