.buba-blocks-text-input {
  --buba-blocks-text-input-background: transparent;
  --buba-blocks-text-input-padding: 20px 0;
  --buba-blocks-text-input-color: inherit;
  --buba-blocks-text-input-borderWidth: 0 0 1px 0;
  --buba-blocks-text-input-borderColor: #fff;
  --buba-blocks-text-input-borderStyle: solid;
  --buba-blocks-text-input-borderRadius: 0;
  --buba-blocks-text-input-fontSize: 18px;
}