.buba-blocks-tel-input {
  --buba-blocks-tel-input-background: transparent;
  --buba-blocks-tel-input-padding: 20px 0;
  --buba-blocks-tel-input-color: inherit;
  --buba-blocks-tel-input-borderWidth: 0 0 1px 0;
  --buba-blocks-tel-input-borderColor: #fff;
  --buba-blocks-tel-input-borderStyle: solid;
  --buba-blocks-tel-input-borderRadius: 0;
  --buba-blocks-tel-input-fontSize: 18px;
}