$blocks-button__height: 56px;
$background: #616161;
$text: #fff;
.wp-block-button__link {
  --background-hover: #000;
  --text-hover: #fff;
  --transition-duration: '200ms';

  color: $text;
  background-color: $background;
  border: none;
  border-radius: $blocks-button__height / 2;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  overflow-wrap: break-word;
  transition: background var(--transition-duration), color var(--transition-duration), border-color var(--transition-duration);

  &.aligncenter {
    text-align: center;
  }

  &.alignright {
    /*rtl:ignore*/
    text-align: right; 
  }
}

.is-style {
  &-fill {
    .wp-block-button__link {
      &:hover {
        color: var(--text-hover) !important;
        background-color: var(--background-hover) !important;
        border-color: var(--background-hover) !important;
      }
    }
  }

  &-outline {
    .wp-block-button__link {
      background-color: transparent !important;

      &:hover {
        color: var(--text-hover) !important;
        border-color: var(--background-hover) !important;
      }
    }
  }

  &-text {
    .wp-block-button__link {
      background-color: transparent !important;
      border-color: transparent !important;

      &:hover {
        color: var(--text-hover) !important;
      }
    }
  }
}

// the first selector is required for old buttons markup
.wp-block-button.is-style-squared,
.wp-block-button__link.wp-block-button.is-style-squared {
  border-radius: 0;
}


// the first selector is required for old buttons markup

.wp-block-button.no-border-radius,
.wp-block-button__link.no-border-radius {
  border-radius: 0 !important;
}

.is-style-outline.wp-block-button__link,
.wp-block-button__link.is-style-outline {
  background-color: transparent;
  border: 2px solid;
}
.wp-block-button__link i{
  display: inline-flex;
  justify-content: center;
}
.wp-block-button__link .icon-left{
  margin-right: 8px;
}
.wp-block-button__link .icon-right{
  margin-left: 8px;  
}
.wp-block-buba-blocks-button{
  &.wp-block-button__width-25 {
    width: calc(25% - .375em);
  }
  &.wp-block-button__width-50 {
    width: calc(50% - .25em);
  }
  &.wp-block-button__width-75 {
    width: calc(75% - .125em);
  }
  &.wp-block-button__width-100 {
    width: auto;
    flex-basis: 100%;
  }
  &.has-custom-width{
    >.wp-block-button__link{
      width: 100%;
    }
  }
}
.wp-block-buba-blocks-button{
  margin-left: 0;
  margin-right: 0;
  width: max-content;
  &.align-button{
    &-left{
      margin-right: auto;
      margin-left: 0;
    }
    &-right{
      margin-left: auto;
      margin-right: 0;
    }
    &-center{
      margin-right: auto;
      margin-left: auto;
    }

  }
}
.buba-button-wrap{
  display: flex;
  &.align-button-left{
    justify-content: flex-start;
  }
  &.align-button-center{
    justify-content: center;
  }
  &.align-button-right{
    justify-content: flex-end;
  }
}
.is-style-text>.wp-block-button__link{
  background-color: transparent;
  border-color: transparent;
  padding: 12px 0;
}

.is-style-outline>.wp-block-button__link{
  background-color: transparent;
}