.buba-blocks-textarea {
  --buba-blocks-textarea-background: transparent;
  --buba-blocks-textarea-padding: 20px 0;
  --buba-blocks-textarea-color: inherit;
  --buba-blocks-textarea-borderWidth: 0 0 1px 0;
  --buba-blocks-textarea-borderColor: #fff;
  --buba-blocks-textarea-borderStyle: solid;
  --buba-blocks-textarea-borderRadius: 0;
  --buba-blocks-textarea-fontSize: 18px;
  --buba-blocks-textarea-height: 300px;
}